<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Краткий отчет</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }
        th, td {
            border: 1px solid black;
            padding: 8px;
            text-align: left;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>

<h1>Краткий отчет за {{ year }}-{{ month }}</h1>

<table>
    <tr>
        <th>Пользователь</th>
        <th>Количество посещений</th>
    </tr>
    {% for visit in visits %}
    <tr>
        <td>{{ visit.author }}</td>
        <td>{{ visit.count_visits }}</td>
    </tr>
    {% endfor %}
</table>

</body>
</html>

