<!doctype html>
<html lang="en">

    <div>
        <label>Сотрудник смены:</label>
        {{ form.author }}
    </div>

    <div>
        <label>Адрес:</label>
        {{ form.id_address }}
    </div>

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ломбард народный</title>
</head>
<body>
    <h1>Заголовок</h1>
    <p> Данные успешно сохранены. </p>

    <button type="submit">Сменить пользователя</button>
    <button type="submit">Сменить адрес</button>
    <button type="submit">Новый день</button>

</body>
</html>

