<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Соблюдение расписания</title>
</head>
<body>
<h1>Поля</h1>

{% if debug_info %}
<div class="debug-info">
    {{ debug_info }}
</div>
{% endif %}

<form method="post">
    {% csrf_token %}
    {{ form.as_p }}

    <!--    <input type="submit" name="action" value="Краткий отчет"/>-->
    <!--    <input type="submit" name="action" value="Полный отчет"/>-->

    <h2>Отчет:</h2>
    <ul>
        {% for address in CashReport_Address %}
        <li>{{ address }}</li>
        {% endfor %}
    </ul>
</form>
</body>
</html>
