{% block content %}
<head>
    <meta charset="UTF-8">
    <title>Тайная комната</title>

    <style>
        form {
            margin-top: 2em;   /* Отделяем информацию */
        }
        .Input_form {
            margin-top: 80px; /* Добавляет отступ сверху перед таблицей */
            border-collapse: separate; /* Разделяем границы ячеек */
            border-spacing: 0 10px; /* Добавляем отступы между строками */
            box-shadow: 0 0 10px rgba(0,0,0,0.1); /* Добавляем легкую тень */
            font-size: 18px; /* Увеличить шрифт таблицы */
        }

    </style>

</head>
<h2 style="font-size: 18px; margin: 0;"> Это тайная комната.</h2>
<h2 style="font-size: 18px; margin: 0;">То что происходит в тайной комнате, остается в тайной комнате.</h2>

<form method="post">

    {% csrf_token %}
    <input type="hidden" name="next" value="{{ next }}">

    <fieldset>
        <legend>Информация</legend>
        <div>
            <label>Сотрудник смены:</label>
            {{form.author}}
        </div>

        <div>
            <label>Адрес:</label>
            {{form.id_address}}
        </div>

        <div>
            <label>Дата:</label>
            {{form.data}}
        </div>
    </fieldset>

    <table class="Input_form">
        <thead>
        </thead>
        <tbody>
        <tr>
            <td>Клиент:</td>
            <td>{{ form.client }}</td>
        </tr>
        <tr>
            <td>Наименование:</td>
            <td>{{ form.nomenclature }}</td>
        </tr>
        <tr>
            <td>Проба:</td>
            <td>{{ form.gold_standard }}</td>
        </tr>
        <tr>
            <td>Цена за грамм:</td>
            <td>{{ form.price }}</td>
        </tr>
        <tr>
            <td>Чистый вес:</td>
            <td>{{ form.price }}</td>
        </tr>
        <tr>
            <td>Фактический вес:</td>
            <td>{{ form.price }}</td>
        </tr>
        <tr>
            <td>Выдано денег:</td>
            <td>{{ form.price }}</td>
        </tr>
    </table>


    <div class="buttons">
        <button type="submit" name="submit_button" value="Сохранить">Сохранить скупку</button>
        <button type="submit" name="submit_button" value="Кнопка">Кнопка</button>
        <button type="submit" name="submit_button" value="Кнопка">Кнопка</button>
    </div>

</form>

{% endblock %}