{% block content %}
<head>
    <meta charset="UTF-8">
    <title>Тайная комната</title>

    <style>
        form {
            margin-top: 2em;   /* Отделяем информацию */
        }
        .Input_form {
            margin-top: 80px; /* Добавляет отступ сверху перед таблицей */
            border-collapse: separate; /* Разделяем границы ячеек */
            border-spacing: 0 10px; /* Добавляем отступы между строками */
            box-shadow: 0 0 10px rgba(0,0,0,0.1); /* Добавляем легкую тень */
            font-size: 18px; /* Увеличить шрифт таблицы */
        }

    </style>

</head>
<h2 style="font-size: 18px; margin: 0;"> Это тайная комната.</h2>
<h2 style="font-size: 18px; margin: 0;">То что происходит в тайной комнате, остается в тайной комнате.</h2>

<form method="post">

    {% csrf_token %}
    <input type="hidden" name="next" value="{{ next }}">

    <fieldset>
        <legend>Информация</legend>
        <div>
            <label>Сотрудник смены:</label>
            {{form.author}}
        </div>

        <div>
            <label>Адрес:</label>
            {{form.id_address}}
        </div>

        <div>
            <label>Дата:</label>
            {{form.data}}
        </div>
    </fieldset>


    {{ form.as_p }}


    <div class="buttons">
        <button type="submit" name="submit_button" value="Сохранить">Сохранить скупку</button>
    </div>

    <h2>Текущие цены:</h2>
    <table>
        <tr>
            <th>Дата изменения</th>
            <th>Проба</th>
            <th>Цена</th>
        </tr>
        {% for item in tabl %}
        <tr>
            <td>{{ item.shift_date }}</td>
            <td>{{ item.gold_standard }}</td>
            <td>{{ item.price_rubles }}</td>
        </tr>
        {% endfor %}
    </table>


</form>

{% endblock %}