<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Выбор отчета</title>
</head>

<body>
<h1>Добро пожаловать, Руководитель!</h1>
<h2>Выбери нужный отчет</h2>

<button onclick="window.location.href='{% url 'supervisor_cash_report' %}'">Кассовый отчет</button>
<button onclick="window.location.href='{% url 'count_visits' %}'">Количество посещений</button>
<button onclick="window.location.href='{% url 'schedule' %}'">Расписание</button>
<button onclick="window.location.href='{% url 'schedule' %}'">Установить цены</button>

</body>
</html>
